<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Star Admin Free Bootstrap-4 Admin Dashboard Template</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/modal.css">
	<!-- endinject -->
	<link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<label class="label" id="message" ></label>
			<label class="close">OK</label>
		</div>
	</div>

	<!-- The Image Modal -->
	<div id="myImageModal" class="image-modal">

	  <!-- The Close Button -->
	  <!-- <span class="close">&times;</span> -->

	  <!-- Modal Content (The Image) -->
	  <img class="image-modal-content" id="imageZoom">

	  <!-- Modal Caption (Image Text) -->
	  <!-- <div id="caption"></div> -->
	</div>

	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<% include blocks/navbar %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<% include blocks/sidebar %>

					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<%- body %>
						</div>
						<!-- content-wrapper ends -->
						<!-- partial:partials/_footer.html -->
						<% include blocks/footer %>
							<!-- partial -->
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="/vendors/js/vendor.bundle.base.js"></script>
	<script src="/vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/js/off-canvas.js"></script>
	<script src="/js/misc.js"></script>
	<script src="/js/public.js"></script>
	<script src="/js/modal.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<!-- End custom js for this page-->
	<script>
		$(function() {
			// Get the modal
			var modal = document.getElementById('myModal');
			var myImageModal = document.getElementById('myImageModal');
			// Get the button that opens the modal
			// Get the <span> element that closes the modal
			$('.close').on('click',function () {
		        modal.style.display = "none";
		    });
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
				if (event.target == myImageModal || event.target == imageZoom) {
					myImageModal.style.display = "none";
				}
			}
		});
	</script>
</body>

</html>
