/* https://materialdesignicons.com/cdn/1.9.32/ */
.sticky-bottom {
  position: fixed;
  bottom: 0;
}

#collapseButton, #collapseStickyButton {
  cursor: pointer;
}

.sidebar .nav li.nav-item a.nav-link:hover {
  background-color: lightgrey !important;
}
